h1{
    color:#fff;
    background-color: #666;
}
.title{
    .takosu{
        color:#000;
    }
}
.asciiart{
    white-space:pre-wrap;
    font-family:Consolas, "Courier New", Courier, Monaco,     monospace, "ＭＳ ゴシック", "MS Gothic";
}
